.body {
    background-color: #252525;
    width: 75%;
    padding: 20px 5px;
}

.bio-container {
    margin-top: 20px;
    display: flex;
    gap: 20px; 
}

.portrait-container img{
    max-width: 100%;
    max-height:fit-content;
}

.bio p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}