h5,
h6 {
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2.2vw;
    margin-top: 20px;
}

.projects div {
    display: flex;
}

.project-container a{
    height: fit-content;
}

.project-container img{
    max-width: 90%;
    max-height:fit-content;
    border: 2px #f19b2c solid ;
    transition: all 0.5s ease-in-out;
}

.project-container img:hover {
    box-shadow:  0px 0px 8px #f19b2c, 0 0 15px #f19b2c;
    filter: blur(0px);
}

.project-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    width: fit-content;
    background-color: #f19b2c;
    text-decoration: none;
    color: white;
    padding: 1% 2%;
    z-index: 1;
}